body{
    background-color: green;
    user-select: none;  /* Disable selecting numbers */
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);   /* (or we can write in this variant) 1fr 1fr 1fr 1fr;*/  /* 4 columns in 1 fraction  */
    grid-gap: 4px; /* distance columns */
    background-color: blue;
    padding: 4px;
    border-radius: 7px;
    max-width: 360px;
    font-family: "Tahoma", serif;
}

.item{
    background-color: darkolivegreen;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}