body {
    margin: 0;
    background-image: url(img/2.jpg);
    background-position: center;
}

.my_work {
    height: 463px;
}

.my_name {
    background-image: url(img/title.jpg);
    background-position: center;
    text-align: center;
    background-color: cadetblue;
    color: green;
    font-family: comic;
    font-style: italic;
    font-size: 300%
}

footer {
    background-image: url(img/footer.png);
    background-position: center;
    color: green;
    /*    font: */
    font-size: 17px;
    display: flex;
}

.footter {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 30px;
    padding-right: 25px;
}
