h1 {
    text-align: center;
}

.container {
    margin-left: 40%;
    width: 300px;
    height: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#number {
    background-color: green;
    float: left;
    margin: 2px;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

#screen {
    background-color: black;
    color: green;
    font-size: 40px;
    width: 250px;
    height: 50px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: left;
}

#screen:focus {
    outline: none;
}

#cleen {
    background-color: crimson;
    float: left;
    font-size: 20px;
    width: 60px;
    height: 50px;
    margin: 2px;
    text-align: center;

}

#point {
    background-color: dimgray;
    float: left;
    font-size: 20px;
    margin: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
}

#correct {
    background-color: dimgray;
    float: left;
    font-size: 25px;
    margin: 2px;
    width: 135px;
    height: 50px;
    text-align: center;
}

#plus, #divide, #mult, #decrement {
    background-color: dimgray;
    float: left;
    font-size: 20px;
    margin: 2px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

#equal {
    background-color: blue;
    float: left;
    font-size: 20px;
    border-radius: 8px;
    margin: 2px;
    width: 125px;
    height: 50px;
    text-align: center;
}